body {
  margin: 0;
  background: transparent;
  font-family: "Segoe UI", Arial, sans-serif;
}

#bmw-speedo {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #111 40%, #000 75%);
  box-shadow:
    inset 0 0 25px rgba(0,191,255,0.3),
    0 0 30px rgba(0,191,255,0.25);
  color: white;
}

/* RPM */
#rpmCanvas {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* SPEED */
#speed-box {
  position: absolute;
  bottom: 90px;
  width: 100%;
  text-align: center;
}

#speed {
  font-size: 58px;
  font-weight: 700;
}

#unit {
  font-size: 14px;
  opacity: 0.7;
}

/* GEAR */
#gear {
  position: absolute;
  top: 20px;
  right: 26px;
  font-size: 34px;
  font-weight: bold;
  color: #00bfff;
  text-shadow: 0 0 12px #00bfff;
}

/* STATUS */
#status {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  opacity: 0.85;
}
