body {
  margin:0;
  background:transparent;
  font-family:Arial, sans-serif;
}

#hud {
  position:fixed;
  right:30px;
  bottom:30px;
  display:flex;
  gap:12px;
  color:white;
}

/* RPM */
#rpmBox {
  width:130px;
  height:130px;
  background:#120000;
  border-radius:14px;
  box-shadow:inset 0 0 10px #ff2222;
}

/* SPEED */
#speedBox {
  width:200px;
  background:#160000;
  border-radius:14px;
  padding:14px;
  box-shadow:inset 0 0 16px #ff3333;
}

#gear {
  font-size:26px;
  font-weight:bold;
  color:#ff4444;
}

#speed {
  font-size:48px;
  font-weight:900;
  margin-bottom:8px;
}

/* BARS */
.barRow {
  display:flex;
  align-items:center;
  gap:6px;
  font-size:12px;
  margin-bottom:6px;
}

.bar {
  flex:1;
  height:6px;
  background:#300000;
  border-radius:4px;
  overflow:hidden;
}

#fuelBar {
  height:100%;
  background:#ff4444;
}

#engineBar {
  height:100%;
  background:#ffaa44;
}
